/*---------------------------------------------------------------
    Assignment Name: Responsiv Football
    Author Name: Ragib Barket
---------------------------------------------------------------*/

/*--------------------
      fonts
 ------------------ */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

 /*-------------------- 
     common-uses
 ------------------- */
 * {
     margin: 0;
     padding: 0;
 }
 a{
     text-decoration: none;
 }
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
}

/*----------------------------
 header-section
 ----------------------------- */
 .football{
     background-color: #2d25a0;
     color: #fff;
 }
 .copa-football{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 60px 0;
 }
 .text-area h1{
     font-size: 64px;
     margin-bottom: 20px;
 }
 .text-area button{
     background-color: #e02c6d;
     border: 0;
     padding: 10px 24px;
     transition: background-color 0.5s;
 }
 .text-area button:hover{
     background-color: transparent;
     border: 2px solid #e02c6d;
 }
 .text-area button a{
     color: #fff;
     margin-right: 10px;
     font-size: 16px;
 }
 .text-area button .arrow{
     color: #fff;
 }
.poster-image img{
    width: 556px;
    height: 438px;
}

/*---------------------------------- 
    players-section 
-----------------------------------*/
.player-section{
    padding: 80px 0;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    width: 330px;
    height: 475px;
    box-shadow: 2px 2px 30px grey;
}
.player .player-image{
    text-align: center;
}
.player .player-image img{
    width: 95%;
    margin-top: 10px;
}
.player-info h3,p{
    margin-left: 10px;
}
.player-info h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}

/*--------------------------------
    gallery-section
 ------------------------------- */
 .player-gallery{
     padding: 40px 0;
 }
 .section-title{
     font-size: 42px;
     margin-bottom: 20px;
 }
 .image-gallery{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }
 .gallery img{
     width: 364px;
     height: 370px;
 }

 /*------------------------------------------
     highlight-section 
 --------------------------------------------*/
 .highlight{
     padding-bottom: 80px;
 }
 .text-area h2{
     font-size: 42px;
     margin-bottom: 10px;
 }
 .text-area p{
     width: 400px;
     margin-bottom: 15px;
 }
 .text-area .btn:hover{
    background-color: black;
 }

 /*--------------------------------------------
    sponsor-section
-------------------------------------------*/
.official-sponsor{
    background-color: #2d25a0;
    padding: 40px 0;
    margin-bottom: 40px;
}
.sponsor{
    text-align: center;
}
.sponsor h2{
    color: #fff;
    margin-bottom: 20px;
}
.sponsor a{
    margin: 0 10px;
}
 /* -----------------------------------------
    footer-section
 ------------------------------------------*/
 .footer-part{
     text-align: center;
 }
 .footer-image img{
     width: 227px;
     height: 67px;
 }
  .social-icon a{
      font-size: 18px;
      margin-left: 2px;
      padding: 3px 6px;
      color:grey;
      background-color: #e7e7e8;
      border-radius: 15px;
  }
  .copyright{
      margin: 20px 0;
  }




/*------------------------------------
    media-quaries 
-----------------------------------------*/

/* mobile-device */
@media only screen and (max-width: 676px) {
    .container{
        width: 100%;
    }
    .copa-football{
        flex-direction: column;
    }
    .text-area h1{
        font-size: 42px;
    }
    .text-area h2{
        font-size: 30px;
    }
    .poster-image img{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    .top-players{
        grid-template-columns: 1fr;
    }
    .player{
        width: 100%;
        height: 100%;
    }
    .image-gallery{
        grid-template-columns: 1fr;
    }
     .gallery img{
         width: 100%;
         height: 100%;
     }
     .text-area p{
         width: 100%;
     }
}
/* tablet-device */
@media only screen and (min-width: 677px) and (max-width: 910px) {
    .container{
        width: 100%;
    }
    .top-players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        width: 100%;
        height: 100%;
    }
    .poster-image img{
        width: 100%;
        height: 100%;
    }
    .image-gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .gallery img{
        width: 100%;
        height: 100%;
    }
 
}